<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>E-commerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>\images\</param-value>
  </context-param>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>commerce.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sell</servlet-name>
    <servlet-class>commerce.sell_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sell</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/sell</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buy1</servlet-name>
    <servlet-class>commerce.buy_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy1</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/buy1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>review</servlet-name>
    <servlet-class>commerce.review_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>review</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/review</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>commerce.Logout_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sign</servlet-name>
    <servlet-class>commerce.SignUp_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign</servlet-name>
    <url-pattern>/bootstrap/docs/examples/cover/sign</url-pattern>
  </servlet-mapping>
</web-app>